<mat-card>
  <mat-card-content>

    <form [formGroup]="form" (submit)="submit()">
      <mat-card class="first-card">
        <mat-card-content>
          <mat-form-field class="full-filled">
            <mat-label>Atendimento</mat-label>
            <mat-hint>1º</mat-hint>
            <input matInput type="number" inputmode="numeric" formControlName="atendimento">
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Idade</mat-label>
            <mat-hint>2º</mat-hint>
            <input matInput type="number" inputmode="numeric" formControlName="age">
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Patologia</mat-label>
            <input #input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto"
              (input)="filter()" (focus)="filter()" formControlName="patologia">
            <mat-hint>3º</mat-hint>
            <mat-autocomplete requireSelection #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              @for (option of filteredOptions; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Data de internação</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="internacao">
            <mat-hint>4º</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Data da GLIM</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="glim">
            <mat-hint>5º</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <!-- Temperatura (Graus C) -->
          <mat-form-field class="full-filled">
            <mat-label>Diagnóstico GLIM</mat-label>
            <mat-hint>6º</mat-hint>
            <mat-select formControlName="dignosticoGlim">
              <mat-option value="1">Sem desnutrição (1)</mat-option>
              <mat-option value="2">Desnutrição moderada - Relacionada à doença crônica com
                inflamação (2)</mat-option>
              <mat-option value="3">Desnutrição moderada - Relacionada à doença crônica com
                inflamação mínima ou imperceptível (3)</mat-option>
              <mat-option value="3">Desnutrição moderada - Relacionada à doença aguda ou
                injúria com inflamação grave (4)</mat-option>
              <mat-option value="3">Desnutrição moderada - Relacionada a fatores
                socioeconômicos ou ambientais (5)</mat-option>
              <mat-option value="2">Desnutrição grave - Relacionada à doença crônica com
                inflamação (2)</mat-option>
              <mat-option value="3">Desnutrição grave - Relacionada à doença crônica com
                inflamação mínima ou imperceptível (3)</mat-option>
              <mat-option value="3">Desnutrição grave - Relacionada à doença aguda ou
                injúria com inflamação grave (4)</mat-option>
              <mat-option value="3">Desnutrição grave - Relacionada a fatores
                socioeconômicos ou ambientais (5)</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Desfecho</mat-label>
            <mat-hint>7º</mat-hint>
            <mat-select formControlName="desfecho">
              <mat-option value="0">Óbito</mat-option>
              <mat-option value="1">Alta</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Sexo</mat-label>
            <mat-hint>8º</mat-hint>
            <mat-select formControlName="sexo">
              <mat-option value="0">Feminino</mat-option>
              <mat-option value="1">Masculino</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Tempo de internação na UTI</mat-label>
            <mat-hint>9º</mat-hint>
            <mat-date-range-input formGroupName="campaignOne" [rangePicker]="campaignOnePicker">
              <input matStartDate placeholder="Data de inicio" formControlName="start">
              <input matEndDate placeholder="Data final" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>

          <mat-form-field class="full-filled">
            <mat-label>Falencia grave de órgão/imunossupressão</mat-label>
            <mat-hint>10º</mat-hint>
            <mat-select formControlName="falenciaOrImuno">
              <mat-option value="0">Não</mat-option>
              <mat-option value="1">Sim</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Temperatura (Graus C) -->
          <mat-form-field class="full-filled">
            <mat-label>Temperatura (Graus C)</mat-label>
            <mat-hint>11º</mat-hint>
            <mat-select formControlName="temperatura">
              <mat-option value="4">>= 41 (4 pontos)</mat-option>
              <mat-option value="3">39 a 40.9 (3 pontos)</mat-option>
              <mat-option value="1">38.5 a 38.9 (1 pontos)</mat-option>
              <mat-option value="0">36 a 38.4 (0 pontos)</mat-option>
              <mat-option value="1">34 a 35.9 (1 pontos)</mat-option>
              <mat-option value="2">32 a 33.9 (2 pontos)</mat-option>
              <mat-option value="3">30 a 31.9 (3 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Pressao arterial média -->
          <mat-form-field class="full-filled">
            <mat-label>Pressão arterial média (mmHg)</mat-label>
            <mat-hint>12º</mat-hint>
            <mat-select formControlName="pressao">
              <mat-option value="4">>= 160 (4 pontos)</mat-option>
              <mat-option value="3">130 a 159 (3 pontos)</mat-option>
              <mat-option value="2">110 a 129 (2 pontos)</mat-option>
              <mat-option value="0">70 a 109 (0 pontos)</mat-option>
              <mat-option value="2">50 e 69 (2 pontos)</mat-option>
              <mat-option value="4">
                <= 49 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Frequência cardíaca -->
          <mat-form-field class="full-filled">
            <mat-label>Frequência cardíaca</mat-label>
            <mat-hint>13º</mat-hint>
            <mat-select formControlName="freqCardiaca">
              <mat-option value="4">>= 180 (4 pontos)</mat-option>
              <mat-option value="3">140 a 179 (3 pontos)</mat-option>
              <mat-option value="2">110 a 139 (2 pontos)</mat-option>
              <mat-option value="0">70 a 109 (0 pontos)</mat-option>
              <mat-option value="2">55 e 69 (2 pontos)</mat-option>
              <mat-option value="3">40 e 54 (3 pontos)</mat-option>
              <mat-option value="4">
                <= 39 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Frequência respiratória -->
          <mat-form-field class="full-filled">
            <mat-label>Frequência respiratória</mat-label>
            <mat-hint>14º</mat-hint>
            <mat-select formControlName="freqRespiratoria">
              <mat-option value="4">>= 50 (4 pontos)</mat-option>
              <mat-option value="3">35 a 49 (3 pontos)</mat-option>
              <mat-option value="1">25 a 34 (1 pontos)</mat-option>
              <mat-option value="0">12 a 24 (0 pontos)</mat-option>
              <mat-option value="1">10 e 11 (1 pontos)</mat-option>
              <mat-option value="2">6 e 9 (2 pontos)</mat-option>
              <mat-option value="4">
                <= 5 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- A-aPO2 (FiO2>50%) ou PaO2 (FiO2<50%) -->
          <mat-form-field class="full-filled">
            <mat-label>A-aPO2 (FiO2>50%) ou PaO2 (FiO2 < 50%)</mat-label>
                <mat-hint>15º</mat-hint>
                <mat-select formControlName="pao2">>
                  <mat-option value="4">>= 500 (4 pontos)</mat-option>
                  <mat-option value="3">350 a 499 (3 pontos)</mat-option>
                  <mat-option value="2">200 a 349 (2 pontos)</mat-option>
                  <mat-option value="0">
                    < 200 ou PaO2> 70 (0 pontos)
                  </mat-option>
                  <mat-option value="1">PaO2 de 61 a 70 (1 pontos)</mat-option>
                  <mat-option value="3">PaO2 de 55 a 60 (3 pontos)</mat-option>
                  <mat-option value="4">PaO2 < 55 (4 pontos)</mat-option>
                </mat-select>
          </mat-form-field>

          <!-- pH ou HCO3 -->
          <mat-form-field class="full-filled">
            <mat-label>pH ou HCO3</mat-label>
            <mat-hint>16º</mat-hint>
            <mat-select formControlName="phOrHco3">>
              <mat-option value="4"> arterial >= 7.7; >= 52 (4 pontos)</mat-option>
              <mat-option value="3">7.6 a 7.69 ; 41 a 51.9 (3 pontos)</mat-option>
              <mat-option value="1">7.5 a 7.59 ; 32 a 40.9 (1 pontos)</mat-option>
              <mat-option value="0">7.33 a 7.49 ; 22 a 31.9 (0 pontos)</mat-option>
              <mat-option value="2">7.25 a 7.32 ; 18 a 21.9 (2 pontos)</mat-option>
              <mat-option value="3">7.15 a 7.24 ; 15 a 17.9 (3 pontos)</mat-option>
              <mat-option value="4">
                < 7.15; < 15 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Na+ sérico (mEq/l) -->
          <mat-form-field class="full-filled">
            <mat-label>Na+ sérico (mEq/l)</mat-label>
            <mat-hint>17º</mat-hint>
            <mat-select formControlName="sodio">>
              <mat-option value="4"> >= 180 (4 pontos)</mat-option>
              <mat-option value="3">160 a 179 (3 pontos)</mat-option>
              <mat-option value="2">155 a 159 (2 pontos)</mat-option>
              <mat-option value="1">150 a 154 (1 pontos)</mat-option>
              <mat-option value="0">130 a 149 (0 pontos)</mat-option>
              <mat-option value="2">120 a 129 (2 pontos)</mat-option>
              <mat-option value="0">111 a 119 (0 pontos)</mat-option>
              <mat-option value="4">
                <= 110 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- K+ sérico (mEq/l) -->
          <mat-form-field class="full-filled">
            <mat-label>K+ sérico (mEq/l)</mat-label>
            <mat-hint>17º</mat-hint>
            <mat-select formControlName="potassio">>
              <mat-option value="4"> >= 7 (4 pontos)</mat-option>
              <mat-option value="3">6 a 6.9 (3 pontos)</mat-option>
              <mat-option value="1">5.5 a 5.9 (1 pontos)</mat-option>
              <mat-option value="0">3.5 a 5.4 (0 pontos)</mat-option>
              <mat-option value="1">3 a 3.4 (1 pontos)</mat-option>
              <mat-option value="2">2.5 a 2.9 (2 pontos)</mat-option>
              <mat-option value="4">
                < 2.5 (4 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Creatinina sérica (ARF significa insuficiência renal aguda) -->
          <mat-form-field class="full-filled">
            <mat-label>Creatinina sérica (ARF significa insuficiência renal aguda)</mat-label>
            <mat-hint>18º</mat-hint>
            <mat-select formControlName="creatinina">>
              <mat-option value="4"> >= 3.5 (4 pontos)</mat-option>
              <mat-option value="8"> >= 3.5 na ARF (8 pontos)</mat-option>
              <mat-option value="3">2 a 3.4 (3 pontos)</mat-option>
              <mat-option value="6">2 a 3.4 na ARF (6 pontos)</mat-option>
              <mat-option value="2">1.5 a 1.9 (2 pontos)</mat-option>
              <mat-option value="4">1.5 a 1.9 na ARF (4 pontos)</mat-option>
              <mat-option value="0">0.6 a 1.4 (0 pontos)</mat-option>
              <mat-option value="2">
                < 0.6 (2 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Hematócrito -->
          <mat-form-field class="full-filled">
            <mat-label>Hematócrito</mat-label>
            <mat-hint>18º</mat-hint>
            <mat-select formControlName="hematocrito">>
              <mat-option value="4"> >= 60 (4 pontos)</mat-option>
              <mat-option value="2"> 50 a 59.9 (2 pontos)</mat-option>
              <mat-option value="1">46 a 49.9 (1 pontos)</mat-option>
              <mat-option value="0">30 a 45.9 (0 pontos)</mat-option>
              <mat-option value="2">20 a 29.9 (2 pontos)</mat-option>
              <mat-option value="4">
                < 20 (4 pontos)</mat-option>>
            </mat-select>
          </mat-form-field>

          <!-- Contagem de WBC - leucócitos - (10^9/l) -->
          <mat-form-field class="full-filled">
            <mat-label>Contagem de WBC - leucócitos - (10^9/l)</mat-label>
            <mat-hint>19º</mat-hint>
            <mat-select formControlName="leucocitos">>
              <mat-option value="4"> >= 40 (4 pontos)</mat-option>
              <mat-option value="2"> 20 a 39.9 (2 pontos)</mat-option>
              <mat-option value="1">15 a 19.9 (1 pontos)</mat-option>
              <mat-option value="0">3 a 14.9 (0 pontos)</mat-option>
              <mat-option value="2">1 a 2.9 (2 pontos)</mat-option>
              <mat-option value="4">
                < 1 (4 pontos)</mat-option>>
            </mat-select>
          </mat-form-field>

          <!-- Escala Glasgow -->
          <mat-form-field class="full-filled">
            <mat-label>Escala Glasgow</mat-label>
            <mat-hint>20º</mat-hint>
            <mat-select formControlName="glasgow">>
              <mat-option value="0"> 15 (0 pontos)</mat-option>
              <mat-option value="1"> 14 (1 pontos)</mat-option>
              <mat-option value="2"> 13 (2 pontos)</mat-option>
              <mat-option value="3"> 12 (3 pontos)</mat-option>
              <mat-option value="4"> 11 (4 pontos)</mat-option>
              <mat-option value="5"> 10 (5 pontos)</mat-option>
              <mat-option value="6"> 9 (6 pontos)</mat-option>
              <mat-option value="7"> 8 (7 pontos)</mat-option>
              <mat-option value="8"> 7 (8 pontos)</mat-option>
              <mat-option value="9"> 6 (9 pontos)</mat-option>
              <mat-option value="10"> 5 (10 pontos)</mat-option>
              <mat-option value="11"> 4 (11 pontos)</mat-option>
              <mat-option value="12">
                <= 3 (12 pontos)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Idade (anos) -->
          <mat-form-field class="full-filled">
            <mat-label>Idade (anos)</mat-label>
            <mat-hint>21º</mat-hint>
            <mat-select formControlName="ageApache">
              <mat-option value="6"> >= 75 (6 pontos)</mat-option>
              <mat-option value="5"> 65 a 75 (5 pontos)</mat-option>
              <mat-option value="3"> 55 a 64 (3 pontos)</mat-option>
              <mat-option value="2"> 45 a 54 (2 pontos)</mat-option>
              <mat-option value="0">
                <= 44 (0 pontos)</mat-option>
            </mat-select>
          </mat-form-field>
          <span id="criticalHealth">Problemas de saúde crônicos: 1) Cirrose do fígado confirmada por biópsia 2) Classe
            IV da
            New York Heart Association 3) DPOC severa -- hipercapnia, uso de O2 domiciliar, ou hipertensão pulmonar 4)
            Em
            diálise regular ou 5) Imunodeprimido</span>
          <mat-hint>22º</mat-hint>
          <mat-radio-group id="criticalHealth" formControlName="criticalHealth"
            aria-label="Problemas de saúde crônicos: 1) Cirrose do fígado confirmada por biópsia 2) Classe IV da New York Heart Association 3) DPOC severa -- hipercapnia, uso de O2 domiciliar, ou hipertensão pulmonar 4) Em diálise regular ou 5) Imunodeprimido">
            <mat-radio-button value="0">nenhum (0 pontos)</mat-radio-button>
            <mat-radio-button value="5">não cirúrgico (5 pontos)</mat-radio-button>
            <mat-radio-button value="5">cirurgia de emergência (5 pontos)</mat-radio-button>
            <mat-radio-button value="2">cirurgia eletiva (2 pontos)</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
        <mat-card>
          <mat-card-content>
            <h2>Contagem de pontos, critérios totais: </h2>
          </mat-card-content>
        </mat-card>
        <div class="result-tab">
          <mat-card>
            <mat-card-content>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

                <ng-container matColumnDef="pontos">
                  <th mat-header-cell *matHeaderCellDef> Pontos </th>
                  <td mat-cell *matCellDef="let element"> {{element.pontos}} </td>
                </ng-container>

                <ng-container matColumnDef="mortalidade">
                  <th mat-header-cell *matHeaderCellDef> Mortalidade </th>
                  <td mat-cell *matCellDef="let element"> {{element.mortalidade}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>

          </mat-card>
        </div>
        <div class="container-button">
          <button mat-flat-button class="btn-primary" type="submit" color="primary">Cadastrar paciente</button>
        </div>
      </mat-card>
    </form>

  </mat-card-content>
</mat-card>