mat-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none !important;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-register{
  margin-top: 2rem;
}
