mat-toolbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner{
  display: flex;
  justify-content: center;

}
