<mat-table [dataSource]="pacientes" class="mat-elevation-z8">
  <ng-container matColumnDef="atendimento">
    <mat-header-cell *matHeaderCellDef> Atendimento. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.atendimento }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="risco">
    <mat-header-cell *matHeaderCellDef> Risco </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.risco }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cirurgico">
    <mat-header-cell *matHeaderCellDef> Cirurgico </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.cirurgico }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="patologia">
    <mat-header-cell *matHeaderCellDef> Patologia </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.patologia }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar paciente" (click)="onAdd()"
        class="action-column-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" class="action-group">
      <button mat-icon-button color="primary" aria-label="Editar paciente" (click)="onEdit(i)">
        <mat-icon>edit </mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Remover paciente" (click)="onDelete(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>