.action-column{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.action-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-toolbar{
display: flex;
justify-content: center;
}
